@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* add variables here */
  --primary: #8fbc8f;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  width: 100vw;
  padding: 8rem;
  position: relative;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1500043357865-c6b8827edf10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 110vw;
}

.title {
  font-size: 16rem;
  color: #eee;
  user-select: none;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.subtitle {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  user-select: none;
}

.header {
  font-size: 8rem;
  font-weight: 900;
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.geo {
  width: 100vw;
  overflow: hidden;
}

.geo > video {
  rotate: -20deg;
  width: 150%;
  height: 150%;
  position: absolute;
  top: -30%;
  left: -30%;
}

.geo > .text-box {
  padding: 8rem;
  color: #eee;
  position: absolute;
  inset: 0;
  background-color: #000;
  mix-blend-mode: multiply;
}

.bird-box > .header {
  color: #333;
}

.box {
  position: absolute;
  bottom: 8rem;
  right: 8rem;
  display: grid;
  place-content: center;
  width: 30%;
  padding: 6rem;
  color: #333;
}

.geo-box {
  background-color: orange;
}

.bird-box {
  background-color: pink;
}
